<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyRadiostation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">MyRadiostation</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Главная</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/schedule">Расписание</a>
    </nav>
</div>
<div class="container mt-5 nb-5">
    <h1>Редактировать программу</h1>
    <div th:each="el : ${program}">
        <form method="post">
            <input type="text" th:value="${el.pname}" name ="pname" placeholder="Введите название программы" class ="form-control"> <br>
            <input type="date" th:value="${el.dayofprogram}" name ="dayofprogram" placeholder="Введите дату начала программы" class ="form-control"> <br>
            <input type="time" th:value="${el.timestart}" name ="timestart" placeholder="Введите время начала программы" class ="form-control"> <br>
            <input type="time" th:value="${el.timeend}" name ="timeend" placeholder="Введите время завершения программы" class ="form-control"> <br>
            <button type="submit" class="btn btn-success">Изменить</button>
        </form>
    </div>
</div>
</body>
</html>