<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>MyRadiostation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">MyRadiostation</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Главная</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/speakers-find/">Поиск ведущих</a>
        <a sec:authorize="hasRole('ADMIN')" class="me-3 py-2 link-body-emphasis text-decoration-none" href="/speakers/create">Добавить ведущего</a>
    </nav>
</div>
<div class="container mt-5">
    <div th:each="el : ${speakers}" class="alert alert-info mt-2">
        <h3 sec:authorize="hasRole('ADMIN')" th:text="'Id ведущего = '+${el.id}"/>
        <h3 th:text="'Имя: '+${el.sname}"/>
        <h3 th:text="'Фамилия: '+${el.surname}"/>
        <h3 th:text="'Возраст: '+${el.age}"/>
        <p th:text="'Дата рождения: '+${#temporals.format(el.dateofbirth, 'yyyy-MM-dd')}"/>
        <p th:text="'Дата смерти: '+${#temporals.format(el.dateofdeath, 'yyyy-MM-dd')}"/>
        <div th:each="el2: ${el.speakersinschedule}" class="container mt-5 nb-5">
            <h3 sec:authorize="hasRole('ADMIN')" th:text="'Id программы = '+${el2.program.id}"/>
            <h3 th:text="'Название: '+${el2.program.pname}"/>
            <p th:text="'Дата начала: '+${#temporals.format(el2.program.dayofprogram, 'yyyy-MM-dd')}"/>
            <p th:text="'Время начала: '+${#temporals.format(el2.program.timestart, 'hh-mm')}"/>
            <p th:text="'Время завершения: '+${#temporals.format(el2.program.timeend, 'hh-mm')}"/>
            <a th:href = "'/schedule/'+ ${el2.program.id}">Подробнее про программу</a>
        </div>
        <a sec:authorize="hasRole('ADMIN')" class="btn btn-warning" th:href="'/speakers/'+ ${el.id} + '/edit'">Изменить</a>
        <form sec:authorize="hasRole('ADMIN')" th:action="'/speakers/'+ ${el.id} + '/delete'" method="post">
            <button class="btn btn-warning" type="submit">Удалить</button>
        </form>
    </div>
</div>
</body>
</html>